/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
}

a {
  color: #fff;
  text-decoration: underline;
  font-weight: 300;
}

a:hover,
a:active {
  color: #dd85c3;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  font: 16px/26px Helvetica Neue, Helvetica, Arial;
  background: #333;
}

.container {
  width: 90%;
  margin: 0;
  color: #fff;
  padding: 5%;
  text-align: center;
  max-width: 750px;
  background: rgba(0, 0, 0, .5);
  border-radius: 0.25rem;
}

.container header {
  margin: 0 0 5rem;
}

.container section {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.container h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.container h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.container textarea,
.container input {
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  font-weight: 400;
  padding: 1rem;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: none;
}

.container textarea {
  min-height: 100px;
}

.container .actions {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
  width: 150px;
  border-radius: 0.25rem;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: #fff;
  background: #000;
  border: none;
}

.container button:hover,
.container button:active {
  filter: drop-shadow( 0 0 1rem #cc9aff);
}

#button-decrypt {
  margin-left: 1.5rem;
}

footer {
  margin: 5rem auto 0;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: block;
}

footer a {
  display: block;
  margin-bottom: 1rem;
  padding: 1.5rem 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: #fff;
  background: #000;
  border-radius: 0.25rem;
  border: none;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
  background: #222;
  color: #fff;
  filter: drop-shadow( 0 0 1rem #cc9aff);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  footer a {
    display: inline-block;
    width: 150px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    margin: 3rem auto;
  }

  footer ul li {
    display: inline-block;
    margin: 0 1.5rem;
  }

  footer a {
    font-weight: 500;
  }
}

@media only screen and (min-width: 900px) {
  .container section {
    margin: 2rem 0;
  }
}
